.board {
  display: flex;
  width: 100 vw;
  height: 80vh;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  background-color: #00807F;
  overflow-y: hidden;
  justify-content: space-between;
}