.droppable {
  min-height: 15vh;
  height: 30rem;
  padding: 0.5rem 0.5rem;
  border: 2px solid black;
  list-style-type: none;
  overflow-y: auto;
  aspect-ratio: 1/2;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable both-edges;
}

@media (orientation: portrait) {
  .droppable {
    aspect-ratio: 1/2;
    height: auto;
  }
}