html,
body {
  background-color: #00807F;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
}

.container {
  display: flex;
  width: 80rem;
  justify-content: flex-start;
  gap: 1vw;
}

.container>* {
  width: 100%;
  max-height: 90vh;
}

.button-wrapper .droppable {
  padding: 0 20px;
}

.container>.group-wrapper:nth-child(1) .droppable {
  background-color: red;
}

.container>.group-wrapper:nth-child(2) .droppable {
  background-color: orange;
}

.container>.group-wrapper:nth-child(3) .droppable {
  background-color: yellow;
}

.container>.group-wrapper:nth-child(4) .droppable {
  background-color: green;
}

@media (orientation: portrait) {
  .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: auto;
  }

  .container>* {
    width: 40%;
    height: 50%;
    max-height: 100%;
  }
}